.cart {
    margin: 0;
    padding: 0 26px;
}

.heading {
    color: var(--black);
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}

.summary {
    display: flex;
    justify-content: flex-end;

    padding: 16px 0;

    border-top: 1px solid var(--grey);
}

.summaryTitle {
    margin: 0;

    color: var(--black);
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}

.summaryTotal {
    margin: 0 0 0 16px;

    color: var(--black);

    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}