.button + button {
  margin-left: 1px;
}

.button.primary {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: var(--white);
}

.button.secondary {
  background-color: var(--grey-dark);
  border: 1px solid var(--grey-dark);
}

.button.primary:hover,
.button.primary:focus,
.button.primary:active {
  border-color: var(--orange-light);
  background-color: var(--orange-light);
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
  border-color: var(--grey);
  background-color: var(--grey);
}

.button.small {
  width: 20px;
  height: 20px;
}

.button.block {
  display: block;
  width: 100%;
  padding: 11px 20px;
  height: 50px;
}