.basketEntry {
    margin: 0 auto;
    padding: 12px;
    max-width: 854px;
    width: 100%;
    border: 1px solid var(--grey);
    background-color: var(--white);
    color: var(--black);
    transition: 0.2s all;
}

.basketButtonGroup {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}

.basketButton {
    color: var(--white);
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 4px;
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.2s all;
    text-transform: uppercase;
    margin-left: 2px;
    margin-right: 2px;
}

.basketButton:hover,
.basketButton:focus,
.basketButton:active {
    border-color: var(--yellow-light);
    background-color: var(--yellow-light);
}
