.reviews-item-enter {
    opacity: 0;
    transform: translateY(-25%);
}
.reviews-item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s;
}
.reviews-item-exit {
    opacity: 1;
}
.reviews-item-exit-active {
    opacity: 0;
    transform: translateY(-25%);
    transition: all .3s;
}