.navigation {
    position: relative;
}
.navigation>div {
    display: inline-block;
}
.basket {
    padding: 12px;
    background-color: var(--grey);
    position: absolute;
    top: 0;
    right: 1em;
}
.basket span.active {
    border-bottom: 1px solid var(--black);
}

.basket span {
    cursor: pointer;
}