.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 16px 0 2px;
  background: var(--black);
  position: relative;
}

.header h2 {
  color: var(--white);
}
