.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: var(--black);
  position: relative;
}

.currency {
  position: absolute;
  left: 20px;
  top: 10px;
}

.user {
  position: absolute;
  color: var(--white);
  right: 20px;
  top: 0;
}
