.card {
  margin: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 8px;
}

.btn{
  padding: 8px 16px;
  border-radius: 8px;
}
.icon{
  width: 70%;
  height: 70%;
}
.icon path {
  fill: rgb(0, 0, 0);

}
